.project
  &__img
    width: 100%
    box-shadow: var(--img-shadow)
  &__card
    border-radius: var(--border-radius-lg)
    background: var(--bg-alt)
    box-shadow: var(--shadow-md)
    margin: 0 auto
    height: 100%
    display: flex
    flex-direction: column
    overflow: hidden
    &-name
      color: var(--title-color)
      padding-top: var(--space-md)
    &-name, &-description
      text-align: center
      margin: 0 0 var(--space-md) 0
    &-footer
      padding: 1rem
      display: flex
      align-items: center
      justify-content: center
      position: relative;
      height: calc(50px + 2rem);
      .fill
        flex: 1
    &-link
      text-align: center
      font-weight: 600
      flex: 4
      height: 50px
      line-height: 47px
      border-radius: 4px
      border: 1px solid var(--title-color)
      text-decoration: none
      color: var(--text-color-alt)
      transition: 150ms color, 150ms background
      &:hover
        background: #1a7b90
        color: #FFF
      &:active
        background-color: #155f6f
    &-github-link
      flex: 1
      position: absolute;
      right: 1rem;
      width: 50px;
      height: 50px;
      svg
        width: 50px;
        height: 50px;

.projects
  &__list
    display: grid
    width: 100%
    grid-gap: var(--space-lg)
    @media (min-width: 786px)
      grid-template-columns: repeat(2, 1fr)
    &-item
      width: 100%

.tech-stack
  flex: 1
  padding: 20px 20px 0
  &__header
    color: var(--title-color)
    text-align: center
  &__title
    margin-bottom: 0.5rem
    color: var(--title-color)
  &__category
    margin-top: var(--space-md)
  &__category-container
    text-align: center
    justify-content: flex-start
  &__list
    &-item
      padding: 0.5rem 1.5rem

@media (min-width: 600px) and (max-width: 785px)
  .tech-stack
    &__category
      width: 33%
      padding: var(--space-sm)
      margin-bottom: 0
    &__category-container
      display: flex
      text-align: left

@media (min-width: 1250px)
  .tech-stack
    &__category
      width: 33%
      padding-top: var(--space-sm)
      padding-left: var(--space-sm)
      margin-bottom: 0
    &__category-container
      display: flex
      text-align: left
