.link
  transition: all 0.2s ease-in-out;
  box-shadow: 0.1rem 0.1rem 0.1rem 0px rgba(0,0,0,0.75);
  &.logo
    background: #FFF;
  &.round
    border-radius: 100%;
  &:hover
    transform: translate(-2px, -2px);
    box-shadow: 0.2rem 0.2rem 0.2rem 0px rgba(0,0,0,0.75);
