.skills
  &__list
    padding: 2rem
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(3, 1fr)
    margin: 0 auto
    @media (min-width: 600px)
      grid-template-columns: repeat(4, 1fr)
      padding: 3rem
      grid-gap: 30px
    @media (min-width: 900px)
      grid-template-columns: repeat(4, 1fr)
      max-width: 786px

.skill  
  position: relative;
  &__card
    padding: 1rem
    box-shadow: var(--shadow-sm)
    border-radius: var(--border-radius-lg)
    background: var(--body-bg-color);
    transition: transform 0.2s ease-in-out;
  &:hover &__card
    transform: translateY(-2rem);
  &__name
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    width: 100%;
    color: var(--body-text-color);
    opacity: 0;
  &:hover &__name
    opacity: 1;
