.about
  padding: 1rem
  @media (min-width: 600px)
    padding: 2rem
  @media (min-width: 900px)
    padding: 3rem 2rem
  @media (min-width: 1200px)
    padding: 4rem 2rem
  &__title
    color: var(--title-color)
    margin-top: 1rem
    &-container
      margin-bottom: var(--space-sm)
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      flex-wrap: wrap
      @media (min-width: 600px)
        margin-bottom: var(--space-lg)
        flex-direction: row
        .photo
          margin-right: var(--space-md)
      @media (min-width: 900px)
        justify-content: flex-start
      .photo
        position: relative;
        max-width: 120px;
        max-height: 120px;
        .me
          border-radius: 50%;
          max-width: 120px;
          max-height: 120px;
      .photo::before
        content: "";
        border-radius: 50%;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 1);
  &__info
    line-height: 1.3
    margin-bottom: 25px
    max-width: 786px
    &:last-of-type
      margin-bottom: 40px
    @media (min-width: 900px)
      font-size: 18px
  .my-links
    display: flex
    &__link
      margin-right: 20px
      height: 40px
      svg
        height: 100%
