.contact
  &__container
    display: flex
    flex-direction: column
  &__details
    text-align: center
    flex: 1
    order: -1
    border-radius: var(--border-radius-lg)
    background-color: #4f8dc1c7
    padding: 1rem 1.5rem
    color: #FFF

    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-rows: 2rem 2rem 2rem;
    grid-template-areas: "title ." "phone_number links" "email links";
    justify-items: left;
    align-items: center;

    &-title
      grid-area: title;
      font-size: 20px
    &-phone_number
      grid-area: phone_number;
      padding: 0 0.5rem
      font-size: 18px
    &-email
      grid-area: email;
      padding: 0 0.5rem
      font-size: 18px
      .email__link
        color: #FFF
    &-links
      grid-area: links;
      border-radius: 1rem;
      display: flex;
      box-shadow: inset 0.2rem 0.2rem 0.3rem 1px rgba(0,0,0,0.75);
      background: rgba(0, 0, 0, 0.1);
      margin-bottom: 0.5rem;
      &-link
        height: 3rem;
        width: 3rem;
        margin: 0.5rem 1rem;
        overflow: hidden;
        svg
          width: 100%;
          height: 100%;

@media (min-width: 786px)
  .contact
    &__container
      flex-direction: row
    &__details
      text-align: left
      order: 0

@media (min-width: 900px)
  .contact
    &__details
      padding: 2rem
