.footer
  padding: 20px 0
  background: var(--bg-alt)
  margin-top: calc(var(--nav-height) + var(--space-lg))
  box-shadow: var(--shadow-sm)
  .container
    display: flex
    align-items: center
    flex-wrap: wrap
    @media (min-width: 900px)
      flex-wrap: nowrap
  &__text
    width: 100%
    margin-bottom: 20px
    @media (min-width: 900px)
      width: auto
      margin-bottom: 0
      margin-right: 20px
