*
  margin: 0
  padding: 0
  &::after, &::before, &
    box-sizing: border-box

\:root
  --border-radius-lg: 6px
  --space-sm: 10px
  --space-md: calc(var(--space-sm) * 2)
  --space-lg: calc(var(--space-md) * 2)
  --nav-height: 50px
  @media (min-width: 786px)
    --nav-height: 60px
  @media (min-width: 1200px)
    --nav-height: 70px

\:root
  --bg-alt: #ffffff8a
  --bg-alt2: #FFF
  --body-bg-color: #eee
  --body-text-color: #737373
  --border-color: #dedede
  --img-shadow: 0 2px 12px 3px #d8d8d8
  --input-shadow:  0 2px 5px 3px #d4d4d4
  --nav-bg-color: #FFF
  --nav-drawer-shadow: 0 0 10px #585757
  --nav-link-color: #1e7688
  --nav-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
  --shadow-sm: 0 2px 9px 2px rgb(191, 191, 191)
  --shadow-md: 0 5px 10px 1px rgba(0, 0, 0, 0.15)
  --text-color-alt: #19616f
  --title-color: #2897ad
  --transparent-bg: rgba(0, 0, 0, 0.3)
  &.dark-theme
    --bg-alt: #221f2385
    --bg-alt2: #3e3e3e
    --body-bg-color: #3c393e
    --body-text-color: #e2e2e2
    --border-color: #585858
    --img-shadow: 0 2px 12px 3px #1f1f1f
    --input-shadow:  0 2px 5px 3px #191515
    --nav-bg-color: #312c33
    --nav-drawer-shadow: 0 0 10px #060606
    --nav-link-color: #29ccf1
    --nav-shadow: 0 3px 10px rgba(0, 0, 0, 0.5)
    --shadow-sm: 0 2px 9px 2px rgba(0, 0, 0, 0.5)
    --shadow-md: 0 5px 10px 1px rgb(18, 16, 19)
    --text-color-alt: #cef6ff
    --title-color: #45d4f5

    --transparent-bg: rgba(0, 0, 0, 0.5)
html
  scroll-behavior: smooth
  min-height: 100vh

body
  font-family: 'Montserrat', sans-serif
  background-color: var(--body-bg-color)
  color: var(--body-text-color)
  transition: 250ms color, 250ms background-color
  height: 100%
  letter-spacing: 0.5px

ul
  list-style: none

.no-scroll
  overflow-y: hidden

.input, .textarea
  outline: none
  width: 100%
  color: var(--body-text-color)
  background: var(--bg-alt2)
  border-radius: var(--border-radius-lg)
  border: 2px solid transparent
  box-shadow: var(--input-shadow)
  &:focus
    border: 2px solid #3da5ff

.textarea
  padding: 1rem
  resize: none
  
.input
  padding: 0.2rem 0.5rem
  height: 50px
  padding-left: 40px
  &__container
    position: relative
    margin-bottom: 25px
  &__icon
    position: absolute
    top: 13px
    left: 10px
    width: 20px
